<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}E-Grader{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-MYy9JgyR+Q4Zm3N1/vsgWnYDFh8x63vb3p+6D37Z+BxIk3V9M/s3hHVSZ+K0yucZ" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'dashboard' %}">E-Grader</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <form method="post" action="{% url 'logout' %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="nav-link btn btn-link" style="padding:0;">Logout</button>
                    </form>
                </li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Sign Up</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container mt-4">
    {% block content %}{% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdGOb8dUs/0fgfDmb+2H25G68kJ4GT337257rytp9f8bGW6Wdw5r2sepkZCUzo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Z6bI3bWIXWvCxznCD7v0aux5eO2o8dBZ1V4HZ3E6G+3v+4MCWreEw5r7" crossorigin="anonymous"></script>
</body>
</html>
